<!DOCTYPE html>
<html lang="en">
<head>
    <script src="scripts/jquery-1.12.3.min.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="scripts/angular.js"></script>
    <link href="scripts/general.css" rel="stylesheet"/>
    <link href="Content/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div ng-app="myapp">
    <form name="myForm">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ng-model="formData.email" required/>
        <span ng-show="myForm.email.$error.required && myForm.email.$dirty">required</span>
        <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">invalid email</span>
        <br />
        <label for="email">Name</label>
        <input type="text" id="name" name="name" ng-model="formData.name" required/>
        <span ng-show="myForm.name.$error.required && myForm.name.$dirty">required</span>
        <br />
        <label for="username">Username</label>
        <input type="text" id="username" name="username" ng-model="formData.username" ng-minlength="5" ng-maxlength="20" ng-pattern="/^[A-z][A-z0-9]*$/" required  />
        <span ng-show="myForm.username.$error.required && myForm.username.$dirty">required</span>
        <span ng-show="!myForm.username.$error.minLength && !myForm.username.$error.maxLength && myForm.username.$error.pattern && myForm.username.$dirty">Must start with a letter, and contain letters &amp; numbers only.</span>
        <span ng-show="!myForm.username.$error.required && (myForm.username.$error.minlength || myForm.username.$error.maxlength) && myForm.username.$dirty">Username ust be between 5 and 20 characters.</span>
        <br />


        <label for="password">Password</label>
        <input type="password" id="password" name="password" ng-model="formData.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
        <span ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
        <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
        <span ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
        <br />


        <label for="password_c">Confirm Password</label>
        <input type="password" id="password_c" name="password_c" ng-model="formData.password_c" valid-password-c required  />
        <span ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
        <span ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
        <br />

        <button type="submit" class="btn" ng-disabled="!myForm.$valid">Submit</button>
    </form>
</div>
<script src="scripts/bootstrap.min.js"></script>
</body>
</html>
